<h2>Create New Landmark</h2>

<form method="POST" action="/landmarks">
  <input name="landmark[name]" id="landmark_name" type="text" placeholder="Name"/><br />

  <input name="landmark[year_completed]" id="landmark_year_completed" type="text" placeholder="Year Completed"/>

  <button type="submit">Create New Landmark</button>
</form>
